* {
    box-sizing: border-box;
}
body {
    font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
}
.outer-container {
    width: 741px;
    height: 477px;
    border: 2px solid #000;
    border-radius: 10px;
}
header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    text-align: center;
    border-bottom: 2px solid #000;
    border-radius: 9px 9px 0px 0px;
    
}

h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

.lower-container {
    display: flex;
}
.text-container {
    padding: 3px 10px 3px 40px;
    flex: 2;
    font-size: 20px;
}
.era-container {
    display: grid;
    grid-template-columns: 70px 160px;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    margin: 30px ;
    width: 230px;
    height: 355px;
    box-sizing: border-box;
}
.item-era1, .item-era2{
    border: 1px black solid;
}
.item-era1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-row: 1/4;
    grid-column: 1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 30px;
    letter-spacing: 10px;
}
.item-era2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    font-size: 20px;
}
.item-era2:hover{
    background-color: black;
    color: white;
}
.black-era{
    background-color: black;
    color: white;
}

.chart-container {
    max-width: 40rem;
    padding: auto;
    margin: 25vh auto;
}

