.dinosaur-maps {
    margin: 0;
    padding: 0;
}
.flexcolumn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.title-container{
    width: 46em;
    height: 21em;
    border: 2px solid black;
    margin-top: 10vh;
    border-radius: 10px;

}
.title-container h1{
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 5px;
    background-color: #D9D9D9;
    border-radius: 9px 9px 0px 0px;

}
.title-container p{
    margin: 30px;
    font-size: 20px;
    text-align: left;
}
.button-container{
    width: 50vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.continent-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    margin: 5px;
    padding: 10px 14px 10px 14px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
}
.continent-button:hover{
    background: black;
    color: white;
}
.black-button {
    background: black;
    color: white;
}
.flexrow-container{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 5vh;
}
.map-container{
    width: 40vw;
}
svg {
    width: 80%;
}
.list-container{
    width: 30vw;
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
    min-height: 400px;
    max-height: 600px;
}
.list-container h2{
    font-weight: normal;
    font-size: 25px;
    border-radius: 9px 9px 0px 0px;

}
.list-container ul{
    padding: 10px;
}
.list-container li{
    list-style: none;
    font-size: 30px;
}
.list-title{
    background-color: #D9D9D9;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}