* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  width: 100%;
  
}

.navbar img {
  width: 100px;
  height: auto;
  color: pink;
  padding-left: 30px;
  
}

nav ul {
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  
}

.navbar nav ul li a {
  color: white; 
  text-decoration: none;
  margin-right: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  margin: 100px auto;
  padding: 44px 35px;
  border-radius: 13px;
  font-size: 20px;
  font-weight: 400;
  background-color: black;
  text-align: center;
  color: white;
  width: 90%;
  margin-top: -2em;
}

.main_about {
  margin: 100px auto;
  padding: 44px 35px;
  border-radius: 13px;
  font-size: 20px;
  font-weight: 400;
  background-color: #DBDBDB;
  text-align: center;
  color: black;
  width: 60%;
}

.background-picture img {
  width: 100vw;
  background-size: cover;
}

.announcement {

}

.options-bar {

}

.dinosaur-cards {

}

.source-information {
  width: 942px;
  margin: 100px 0;
  padding: 44px 35px;
  border-radius: 13px;
  font-size: 20px;
  font-weight: 400;
  background-color: #DBDBDB;
  
}
.source-information-text {
  margin: 0 0 10px;
}
.source-information-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.footer {

}