* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
.navbar {

}

.background-picture {

}

.announcement {

}

.options-bar {

}

.dinosaur-cards {

}

.footer {

}